<%= form_for(@allowed_ip) do |f| %>
  <% if @allowed_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allowed_ip.errors.count, "error") %> prohibited this allowed_ip from being saved:</h2>

      <ul>
      <% @allowed_ip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="actions">
    <%= f.submit "Allow This IP", :class => "btn btn-default", :style => "width: 100%" %>
  </div>
<% end %>
