<div>
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag "ct_logo.png", :style => "margin:8% 0 0 5%" %>
      <b style="margin-left: 6%; font-size: 16px"><%= Time.now.strftime("%A, %d %B %Y") %></b>
    </div>
    <div class="span7"></div>
    <div class="span2">
      Welcome, <b><%= current_employee.firstname %> <%= current_employee.lastname %></b>
      <%= link_to "signout", destroy_employee_session_path, :method => :delete %>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6" style="text-align: center">
      <h3>Hey <%= current_employee.firstname %>, Good Morning. Have a Good day!!! :)</h3>
      <%= render 'form' %>
    </div>
    <div class="span3"></div>
  </div>
</div>




